.task_gate {
  position:absolute;
  top :85px;
  left :270px; 
}
.task_gate>span{
  background-color : yellowgreen;
  
}
.task_gate .task_gate1{
  
  display :none;
  z-index : 1;
}
/*.task_gate:hover .task_gate1  {
  display : block;

}*/

.common:hover {
 background-color: aqua;
}
.special:hover{
background-color: aqua;
}

.font-size input{
 /* display :inline-block; */
  font-size: 13px;
  background-color: beige;

}

html{
margin :0px;
padding :0px;
}


.leftmove1{
position :absolute;
top:61px;
left:99px;
width : 55px;
}
h5 {
width:200px;
padding :0px;

}
.leftmove2{
position :absolute;
top:61px;
left:220px;}

.leftmove3{
position :absolute;
top:61px;
left:46px;
}
.leftmove4{
position :absolute;
top:61px;
left:8px;
width:38px;
}
.leftmove5{
position :absolute;
top:38px;
left:9px;
height : 22px; 
}

.leftmove6{
position :absolute;
top:15px;
left:220px;}

.leftmove7{
position :absolute;
top:15px;
left:1px;}

.leftmove8{
position :absolute;
display :inline-block;
left : 70px;
top : 38px;
}

.leftmove9{
position : absolute;
left:123px;
top : 40px;
font-size: 13px;
background-color: aqua;
}
.leftmove10{
position : absolute;
left:195px;
top : 40px;
font-size: 13px;
background-color:orange;
}
.leftmove11{
position : absolute;
left:250px;
top : 40px;
font-size: 13px;
background-color:cadetblue;
}
.leftmove12{
position : absolute;
left:250px;
top : 20px;
font-size: 13px;
background-color:black;

}
.leftmove2{
position :absolute;
top:61px;
left:220px;}

textarea{
font-size:12px;
}

textarea.black{
font-size:12px;
background-color: black;
color : white;
}

#hidden1 {
  float:left;
}
button{
position :relative;
left :146px;
}

span {
font-size : 14px;
  }
  
.dropdown-content{
display : none;
position : absolute;
z-index : 1; /*다른 요소들보다 앞에 배치*/
}
.dropdown-content1{
display : none;
position : absolute;
z-index : 1; /*다른 요소들보다 앞에 배치*/
}


.dropdown:hover .dropdown-content {
display: block;
}
.dropdown:hover .dropdown-content1 {
display: block;
}
.dropdown-content1 {
  background-color: beige;
}
.dropbtn {
  border :solid 1px gray;
  padding : 0 5 0 5 ;
  background-color: rgb(36, 85, 148);
  color : rgb(166, 196, 221);    
}
.srform:hover{
  background-color: rgb(240, 225, 140);
}
.srform1:hover{
  background-color: rgb(240, 225, 140);
}
#teamperson{
position :absolute;
top:0px;
left:10px;
}

.del{
position : absolute;
top:0px;
left: 170px;
font-size:12px;
background-color: aliceblue;
}

.buthidden{
position : absolute;
top:0px;
left: 235px;
font-size:12px;
background-color: aliceblue;
}

.butttonshow{
background-color:powderblue;
display : none;
}

.schedule{
font-size : 13px;
}

.phoneNumber{
background-color:rgb(9, 247, 235);
}


.dropdown-content1 p{
font-size: 12px;
margin : 0px;
}

.alarmpop{
position : absolute;
top : 0px;
left : 0px;
visibility:hidden;
display : inline-block;
background-color: rgb(230, 238, 113);
font-size : 12px;
width : 250px;
height : 200px;

}

.alarmpop .xbutton {
position : absolute;
display : inline-block;
left :230px;
width : 15px;
padding : 0px;


}
.alarmpop.alrmblink{
visibility: visible;
z-index :2;
animation-name: blink;
animation-duration: 2s;
animation-iteration-count: infinite;
}  

@keyframes blink{
0% {background-color: rgb(209, 184, 184);}
20% {background-color: rgb(188, 221, 69);}
40% {background-color: rgb(150, 179, 24);}
60% {background-color: rgb(233, 196, 32);}
80% {background-color: rgb(233, 169, 32);}
100% {background-color: rgb(250, 250, 250);}

}

.salescount{  
  position :absolute;
   top:61px;
   left:272px;
   font-size: 13px ;
   background-color: yellow;
   cursor : pointer;
   height : 19px;
  }


  .phoneNumber{
    cursor : pointer;
  }