.task_gate {
  z-index :1 ;
 
}
.task_gate>span{
  background-color : yellowgreen;
  
}
.task_gate .task_gate1{
  position : absolute;
  display :none;
  z-index : 1;
}

.common:hover {
 background-color: aqua;
}
.special:hover{
background-color: aqua;
}

.font-size input{
 /* display :inline-block; */
  font-size: 12px;
  background-color: beige;
  padding : 0px;

}

html{margin :0px;padding :0px;}

.buttonpack {
  display : flex;
  width : 300px;
  flex-wrap : wrap;
  position : sticky;
  top : 0px; 
}

.buttonpack > *{  flex-grow :1; }
  

h5 {width:200px;padding :0px;margin : 2px;}

.leftmove1{padding:0px;}
.leftmove3 {padding:0px;}
.leftmove4 {padding:0px;}
.leftmove5 {padding:0px;}
.leftmove9{font-size: 13px;
  background-color: aqua;padding:0px; cursor:pointer;}

.leftmove10{font-size: 13px; background-color:orange;padding:0px;}

.leftmove11{font-size: 13px;background-color:cadetblue;}

.leftmove12{font-size: 13px;background-color:black;}

#btn1{padding:0px;}


textarea{font-size:12px;}
.textarea_container{display : flex;flex-direction: column;width : 300px;

  margin-top:1px;}

textarea.black{font-size:12px;background-color: black;color : white;}


span {font-size : 14px; }
  
  /*다른 요소들보다 앞에 배치*/
.dropdown-content{display : none;position : absolute;z-index : 1; 
}

.dropdown-content2
{display : none;position : absolute;z-index : 1; /*다른 요소들보다 앞에 배치*/
font-size:12px;}


.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropdown-content2 {display: block;}

.dropdown-content2 {  background-color: beige;}

.dropbtn {
  border :solid 1px gray;
  padding : 0 5 0 5 ;
  background-color: rgb(36, 85, 148);
  color : rgb(166, 196, 221);    
}
.srform:hover{  background-color: rgb(240, 225, 140);}

.srform1:hover{  background-color: rgb(240, 225, 140);}


.del{font-size:12px;background-color: aliceblue;display:inline-block;}

.buthidden{font-size:12px;background-color: aliceblue;display:inline-block;}

.butttonshow{
background-color:powderblue;
display : none;
}

.schedule{
font-size : 13px;
}

.phoneNumber{
background-color:rgb(9, 247, 235);
}


.dropdown-content2 p{
font-size: 12px;
margin : 0px;
}

.alarmpop{
position : absolute;
top : 0px;
left : 0px;
visibility:hidden;
display : inline-block;
background-color: rgb(230, 238, 113);
font-size : 12px;
width : 250px;
height : 200px;

}

.alarmpop .xbutton {
position : absolute;
display : inline-block;
left :230px;
width : 15px;
padding : 0px;


}
.alarmpop.alrmblink{
visibility: visible;
z-index :2;
animation-name: blink;
animation-duration: 2s;
animation-iteration-count: infinite;
}  

@keyframes blink{
0% {background-color: rgb(209, 184, 184);}
20% {background-color: rgb(188, 221, 69);}
40% {background-color: rgb(150, 179, 24);}
60% {background-color: rgb(233, 196, 32);}
80% {background-color: rgb(233, 169, 32);}
100% {background-color: rgb(250, 250, 250);}

}

.alarm-gateName{
  background-color: chartreuse;
  cursor: pointer;
}

.alarm-list{
  font-size : 12px;
  z-index :1;
  position : absolute;
  display : flex;
  
  
}
.alarm-list:nth-child(1){
  flex-grow : 1;
  padding : 0px;
  margin : 0px;
 }


.alarm-list:nth-child(2){
  flex-grow : 1;
  padding : 0px;
  margin : 0px;
 }

 .inputtime{
  height :17px;
}
.salescount{font-size: 13px ;background-color: yellow; cursor : pointer;}


  .phoneNumber{
    cursor : pointer;
  }