.task_gate {  /*비번코드 부모태그 */
    z-index :1 ;
    }
  
  .task_gate>span{
    background-color : yellowgreen;
   }
  
  .task_gate:hover .task_gate1  {
    display : block;
    position : absolute;
    z-index :1;
  }   
  
  .task_gate .task_gate1{
    display :none;
    z-index : 1;
  }
  
  .common:hover {
   background-color: aqua;
  }
  
  
  .special:hover{
  background-color: aqua;
  }
  
  
  .font-size input{
   /* display :inline-block; */
    font-size: 13px;
   background-color: beige;
  }
  .inputtime{
    height :17px;
  }
  
  html{margin :0px;padding :0px;}
  
  .buttonpack {
    display : flex;
    width : 300px;
    flex-wrap : wrap;
    position : sticky;
    top : 0px;}
    
  .buttonpack > *{flex-grow :1;padding : 0px;}
  
  
  h5 {  width:200px;  padding :0px; margin:2px; }
  
  
  .leftmove9{font-size: 13px; background-color: aqua;}
  
  
  /*메모목록 버튼*/
  
  .leftmove10{font-size: 13px;  background-color:orange;}
  
  
  /*비번변경 버튼*/
  
  .leftmove11{font-size: 13px; background-color:cadetblue;}
  
  
  /*검은배경 버튼*/
  
  .leftmove12{font-size: 13px;  background-color:black;}
  
  
  textarea{font-size:12px; margin-top:1px;}
  
  
  /*메모입력창 야간모드 전환 */
  
  textarea.black{font-size:12px;background-color: black;color : white; }
  
  
  /*텍스트 영역을 플렉스 박스로 변경했음 */
  
  .textarea_container{display : flex;flex-direction: column;width : 300px;
  
  margin-top:1px;}
  
  
  
  span {font-size : 14px; }
  
  
  /*다른 요소들보다 앞에 배치 "SR양식" 부분임*/
  
  .dropbtn {
  border :solid 1px gray;
  padding : 0 5 0 5 ;
  background-color: rgb(36, 85, 148);
  color : rgb(166, 196, 221);    
  }
  
  .dropdown-content{display : none;position : absolute;z-index : 1;}
  
  .srform:hover{background-color: rgb(240, 225, 140);}
  
  .srform1:hover{background-color: rgb(240, 225, 140);}
  
  
  
  
  /*매일할일 일과부분 list처리 ,css처리 다른 요소들보다 앞에 배치 */
  
  .dropbtn1{background-color:blue ;color : white;} /*일과 글자부분*/
  
  .dropdown-content1{display : none;position : absolute;z-index : 1;
  
  background-color: beige;font-size: 9px;width :90px; font-weight: bold; }
  
  .dropdown-content1 ol{padding : 2px; }
  
  .dropdown-content1 ol li{margin-top: 3px;cursor : pointer;}
  
  .dropdown-content1 ol li:hover{background-color: aqua;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  
  
  /* 위에 select메뉴임 
  
  #teamperson{position :absolute; top:0px; left:10px;}*/
  
  
  /*모두지우기 버튼*/
  
  .del{font-size:12px;background-color: aliceblue; }
  
  
  .buthidden{font-size:12px; background-color: aliceblue;}
  
  
  .butttonshow{background-color:powderblue;display : none;}
  
  
  #dailymust {
  background-color: beige;
  font-size: 8px ;
  font-weight: bold;
  line-height:15px;
  text-align: left;
  }
  
  .salescount{font-size: 13px ; background-color: yellow; cursor : pointer;}
  
  .phoneNumber{cursor : pointer;}
  
  
  .alarmpop{
    position : absolute;
    top : 0px;
    left : 0px;
    visibility:hidden;
    display : inline-block;
    background-color: rgb(230, 238, 113);
    font-size : 12px;
    width : 250px;
    height : 200px;
     }
   
   .alarmpop .xbutton {
      position : absolute;
      display : inline-block;
      left :230px;
      width : 15px;
      padding : 0px;
     }    
    .alarmpop.alrmblink{
    visibility: visible;
    z-index :2;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    }  
    
    @keyframes blink{
    0% {background-color: rgb(209, 184, 184);}
    20% {background-color: rgb(188, 221, 69);}
    40% {background-color: rgb(150, 179, 24);}
    60% {background-color: rgb(233, 196, 32);}
    80% {background-color: rgb(233, 169, 32);}
    100% {background-color: rgb(250, 250, 250);}
    
    }
  
    .alarm-gateName{
      background-color: chartreuse;
      cursor: pointer;
    }
  
    .alarm-list{
      font-size : 12px;
      z-index :1;
      position : absolute;
      display : flex;
      
      
    }
    .alarm-list:nth-child(1){
      flex-grow : 1;
      padding : 0px;
      margin : 0px;
     }
  
  
    .alarm-list:nth-child(2){
      flex-grow : 1;
      padding : 0px;
      margin : 0px;
    
       }
  
  
  /*  .alarm_memo{ width : 160px;   }
    .alarmX {font-size:9px;
    height :21px;
    } */
    
    