.leftmove8 {  /*일과버튼 */
    position:absolute;
    top :85px;
    left :270px; 
}
.task_gate:hover .task_gate1  {
    display : block;
}   

.task_gate {  /*비번코드 부모태그 */
position :absolute;
display :inline-block;
left : 72px;
top : 38px;
z-index :1 ;
}
.task_gate>span{
    background-color : yellowgreen;
    
}
.task_gate .task_gate1{
    
    display :none;
    z-index : 1;
}
.common:hover {
   background-color: aqua;
}
.special:hover{
  background-color: aqua;
}

.font-size input{
   /* display :inline-block; */
    font-size: 13px;
    background-color: beige;

}

html{
margin :0px;
padding :0px;
}
.leftmove1{ /*시간 리셋버튼*/
 position :absolute;
 top:61px;
 left:99px;
 width : 55px;
}
h5 {
  width:200px;
  padding :0px;
  
 }
.leftmove2{  /*sr양식 메뉴*/
position :absolute;
 top:61px;
 left:220px;}

.leftmove3{ /*책모양 아이콘*/
position :absolute;
 top:61px;
 left:46px;
  }
.leftmove4{ /*주소버튼*/
position :absolute;
top:61px;
 left:8px;
 width:38px;
}
.leftmove5{  /*그룹웨어 버튼*/
position :absolute;
 top:38px;
 left:9px;
 height : 22px; 
}


.leftmove9{ /*메모저장 버튼*/
  position : absolute;
  left:129px;
  top : 40px;
  font-size: 13px;
  background-color: aqua;
}

.leftmove10{  /*메모목록 버튼*/
  position : absolute;
  left:200px;
  top : 40px;
  font-size: 13px;
  background-color:orange;
}
.leftmove11{   /*비번변경 버튼*/
  position : absolute;
  left:255px;
  top : 40px;
  font-size: 13px;
  background-color:cadetblue;
}
.leftmove12{   /*검은배경 버튼*/
  position : absolute;
  left:255px;
  top : 20px;
  font-size: 13px;
  background-color:black;
  
}

textarea{
  font-size:12px;
 }

textarea.black{
  font-size:12px;
  background-color: black;
  color : white;
 }

#hidden1 {
    float:left;
 }
button{
  position :relative;
  left :146px;
}

span {
 font-size : 14px;
    }
    
.dropdown-content{
display : none;
position : absolute;
z-index : 1; /*다른 요소들보다 앞에 배치*/
}
.dropdown-content1{
display : none;
position : absolute;
z-index : 1; /*다른 요소들보다 앞에 배치*/
}


.dropdown:hover .dropdown-content {
display: block;
}

.dropdown-content1 {
    background-color: beige;
    font-size: 8px;
    width :80px;
       }
.dropbtn {
    border :solid 1px gray;
    padding : 0 5 0 5 ;
    background-color: rgb(36, 85, 148);
    color : rgb(166, 196, 221);    
}
.dropbtn1{
  background-color:blue ;
  color : white;
}
.srform:hover{
    background-color: rgb(240, 225, 140);
}
.srform1:hover{
    background-color: rgb(240, 225, 140);
}
#teamperson{
  position :absolute;
 top:0px;
 left:10px;
}
.del{
  position : absolute;
  top:0px;
  left: 170px;
  font-size:12px;
  background-color: aliceblue;
}

.buthidden{
  position : absolute;
  top:0px;
  left: 235px;
  font-size:12px;
  background-color: aliceblue;
}

.butttonshow{
  background-color:powderblue;
  display : none;
}

#dailymust {
  background-color: beige;
  font-size: 8px ;
  font-weight: bold;
  line-height:15px;
  text-align: left;
}

.salescount{  
  position :absolute;
   top:61px;
   left:272px;
   font-size: 13px ;
   background-color: yellow;
   cursor : pointer;
  }
