.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:5px 2px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:5px 2px;word-break:normal;}
.tg .tg-op75{background-color:#ffffc7;border-color:inherit;color:#000000;font-size:12px;text-align:center;vertical-align:top}
.tg .tg-mhie{background-color:#00009b;border-color:inherit;color:#ffffff;font-size:12px;text-align:center;vertical-align:top}
.tg .tg-05qa{border-color:inherit;color:#000000;font-size:12px;text-align:center;vertical-align:top}
.tg .tg-7zv5{background-color:#656565;color:#ffffff;font-size:12px;text-align:center;vertical-align:top}
.tg .tg-sv3s{background-color:#9aff99;font-size:12px;text-align:center;vertical-align:top}

.container{
    display : flex;
    height : 80%;
    flex-direction: row;
    gap: 20px;;
}
div {  font-size :13px;
}

input {
  width : 180px;
}

h4 {
  margin : 5px;
}

h5{
  margin : 5px;
}
.dailyreport p {
  margin : 0px;
}

.dailyreport2 p {
  margin : 0px;
}

.situation label{
  display: block;
  }
  .situation label >input{
    width : 50px;
    }

.situation {
  display : none;
}
