h1 {
  border-bottom:1px solid gray;
  padding:20px; }
nav{
  border-right:1px solid gray;
  width:200px;
  float:left;
  height:600px;
}
 nav ol{
   list-style: none;
 }
#control {
  float:right;
}

